
.color{
  background-color: #1b7ec7;
}

.requerido{
	color:red;
	padding-left: 3px;
}

a{
	text-decoration: none;
}

.bordeSeccion{

  border-radius: 10px;
  border: solid;
  border-color: rgb(90, 91, 92);
  /*transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: rgb(33, 137, 255);
  background: linear-gradient(0deg, rgba(33, 137, 255, 0.5) 0%, rgba(33, 137, 255, 1) 100%);*/
  margin: 5px;
}

.bordeDerechoSeccion{
  border-right: 2px solid black;
}

.logoImagenCard{
  border-radius: 50%;
}

.accordion-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

}

.nav-item{
  min-width: 120px;
    text-align: center;
}

@media (min-width: 1200px){

}
@media (min-width: 0px) and (max-width: 1199px){

}

.searchbar{
  max-width: 450px;
  width: 100%;
  margin: auto;
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #b7bfd0;
  border-radius: 30px;
  padding: 10px;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  width: 90%;
  background: transparent !important;
  caret-color:transparent;
  line-height: 40px;
  }

  .searchbar:hover > .search_input{
  caret-color:red;
  }

  .searchbar:hover > .search_icon{
  background: rgb(33, 137, 255);
  color: white;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:black;
  text-decoration:none;
  }

  /* Desactivar el sombreado de autocompletado y los estilos de sugerencia seleccionada */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: none !important;
    -webkit-text-fill-color: initial !important;
    background-color: inherit !important;
    transition: background-color 5000s ease-in-out 0s !important;
}
