
.color{
  background-color: #1b7ec7;
}

.requerido{
	color:red;
	padding-left: 3px;
}

a{
	text-decoration: none;
}

.bordeSeccion{
  border-style: groove;
  border-radius: 5px;
  background-color: #d8e5ee;
  margin: 5px;
}

@media (min-width: 1200px){

}
@media (min-width: 0px) and (max-width: 1199px){

}